<%= form_for(task, html: {class: "form-signin"}) do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :content, lable: false, required: true, autofocus: true, input_html: {class: "form-control",
                                              placeholder: "Введіть дані завдання тут"} %>
    <%= f.hidden_field :state %>
  </div>

  <div class="actions">
    <%= f.submit "Створити", class: "btn btn-block btn-success" %>
  </div>
<% end %>
<br>
