<p id="notice"><%= notice %></p>

<p>
  <strong>Зміст завдання:</strong>
  <%= "[ #{@task.content} ]" %>
</p>

<p>
  <strong>Розділ до якого віднесено завдання:</strong>
  <%= "[ #{@task.state} ]"  %>
</p>

<%= link_to 'Редагувати', edit_task_path(@task) %> |
<%= link_to 'Повернутись назад', tasks_path %>
<br>
<br>
