<% provide(:title, "Редагування користувача") %>
<div class="col-md-6 content">
<h1>Редагувати особисті дані профілю</h1>

    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, "Ім'я'" %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password, "Пароль"%>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Підтвердити пароль" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Зберегти зміни", class: "btn btn-large btn-primary", :style => "width:200px;" %>
    <% end %>
    <br>
  </div>
    <div class="col-md-3 author">
      <br>
      <a href="http://gravatar.com/emails">Змінити фото</a>
      <%= gravatar_for @user %>
      <br>
      <br>
      <br>
      <%= @user.name %>
      <br>
      <%= "Роль - " + if @user.admin then "Проектний менеджер" else "Розробник" end %>
      <br>
      <%=  "Дата реєстрації - " + @user.created_at.to_s %>
      <br>
      <%= "Кількість проектів - " + Project.where(:user_id => @user.id).count.to_s  %>
      <br>
      <%= "Не виконані завдання - " + Task.where(:user_id => @user.id, :state => "to_do").count.to_s  %>
      <br>  <%= "Почав робити - " + Task.where(:user_id => @user.id, :state => "doing").count.to_s  %>
      <br>  <%= "Завершив виконання - " + Task.where(:user_id => @user.id, :state => "done").count.to_s  %>
      <br>
      <%=  "Email -  " + @user.email %>
    </div>
  </div>
</div>
