<% provide(:title, @user.name) %>
<div class="col-md-6 col-lg-6" style="">

  <h3 class="center">Користувачі системи</h3>
  <center><%= will_paginate @users, previous_label: "<", next_label: ">"%>

    <div class="show-users-nav">
    <% @users.each do |user| %>
  <div class="users-nav">
    <% if current_user.admin? && !current_user?(user) %>
    <%= link_to "Видалити", user, method: :delete,
             data: { confirm: "Ви впевнені?" }, :style=>'color: #FF0066;' %>
    <% end %>
  <a <%= "href=#{user.id}"%>>
    <%= gravatar_for user, size: 512 %>
  </a>
    <br><%= link_to user.name, user %>
</div>
  <% end %>
</div>
<br>

    <h1>Статистика для прийняття попроектних рішень</h1>
  <br>
    <h3>Загальна кількість проектів у системі - (<%= Project.count %>)</h3>
  <br>
    <hr>
    <br>
      <h3>Загальна кількість користувачів у системі - (<%= User.count %>)</h3>
    <br>
      <hr>
</center>
</div>
<div class="col-md-3 col-lg-3 author">
<br>
<h3>Профіль користувача</h3>
<%= gravatar_for @user %>
<%= @user.name %>
<br>
<%= if @user.admin then "Проектний менеджер" else "Розробник" end %>
<br>
<%= @user.email %>
<br>
</div>
</div>
