<header class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "Webonix app", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Головна", root_path %></li>
            <li><%= link_to "Допомога", help_path %></li>
            <% if signed_in? %>
            <li><%= link_to "Мій профіль", edit_user_path(current_user) %></li>
            <li><%= link_to "Вийти", signout_path, method: "delete" %></li>
            <% else %>
            <li><%= link_to "Увійти в систему", signin_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
</header>
