</div>
<div class="container-fluid full">
<div class="row is-table-row">
      <div class="col-md-3 col-lg-3 sidebar">
        <!--sidebar-->
        <asside class="span4">
          <section>
            <div class="sidebar">
              <div id="sidebar-wrapper">
                <ul class="nav nav-pills nav-stacked">
                  <% if request.original_fullpath == "/users/#{@user.id}"  %>
                  <% active_dashboard_page="class=\"active\"".html_safe %>
                  <% elsif request.original_fullpath == "/users/#{@user.id}/edit"  %>
                  <% active_edit_page="class=\"active\"".html_safe %>
                  <% elsif request.original_fullpath == "/users/#{@user.id}/projects/#{@user.id}"  %>
                  <% active_project_page="class=\"active\"".html_safe %>
                  <% elsif request.original_fullpath == "/users/#{@user.id}/projects/new"  %>
                  <% active_project_page="class=\"active\"".html_safe %>
                  <% end %>
                  <li <%= active_dashboard_page %>><%= link_to "<i class=\"pe-7s-graph\"></i> Панель приборів".html_safe, current_user, class: "" %></li>
                  <li <%= active_edit_page %>><%= link_to "<i class=\"pe-7s-user\"></i> Профіль користувача".html_safe, edit_user_path(current_user), class: "" %></li>
                  <li><%= link_to "<i class=\"pe-7s-note2\"></i> To-do Лист".html_safe, "#", class: "" %></li>
                  <li><%= link_to "<i class=\"pe-7s-news-paper\"></i>  Проекти".html_safe, user_project_path(current_user), class: "" %></li>
                  </ul>
              </div>
            </div>
          </section>
    </aside>
      </div>
